<h1>Pictures#show</h1>
<p>Find me in app/views/pictures/show.html.erb</p>
Name : <%= @picture.name %> <br/>
Image : <%= image_tag @picture.image_url(:thumb) %>
<br/>
<%= link_to 'back', album_path(@picture.album_id), :class => 'button' %>